.*
*.sqlite
**/data
navidrome/music
nohup.out
navidrome/downloads
navidrome/lidarr
navidrome/prowlar
navidrome/bittorrent
swag/config
jellyfin/cache
jellyfin/config
jellyfin/media
immich/imports
immich/library
immich/postgres
**gitlab-runner/config/config.toml
disabled/swag/config
calibre/library
calibre/config
reportgen.sh
copyparty/cfg
discourse
blog/
