{
  email imodmaker@gmail.com
  acme_ca https://acme-v02.api.letsencrypt.org/directory
  acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  
  layer4 {
    0.0.0.0:22 {
      route {
        proxy gitea-server-1:22
      }
    }
  }

  metrics {
    per_host
  }
}


registry.msws.xyz {
  @docker {
      path_regexp ^.*/[^/]+(:[^/]+)?(/.*)?$
      header User-Agent *docker/*
  }

  handle @docker {
    reverse_proxy gitea-server-1:3000
  }

  handle {
    respond "Access Denied" 403
  }
}

git.msws.xyz, git.local.msws.xyz {
  reverse_proxy gitea-server-1:3000
}

yt.local.msws.xyz, yt.msws.xyz {
  reverse_proxy invidious:3000
}

pass.local.msws.xyz, pass.msws.xyz {
  reverse_proxy vaultwarden:80
}

code.local.msws.xyz, code.msws.xyz, *.code.msws.xyz {
  reverse_proxy code-server:8443
}

music.local.msws.xyz, music.msws.xyz {
  reverse_proxy navidrome:4533
}

watch.local.msws.xyz, watch.msws.xyz {
  reverse_proxy jellyfin:8096
}

stats.local.msws.xyz {
  reverse_proxy grafana:3000
}

prom.local.msws.xyz {
  reverse_proxy prometheus:9090
}

photos.local.msws.xyz, photos.msws.xyz {
  reverse_proxy immich_server:2283
}

:443, :80 {
  handle_path /resume* {
    rewrite * /MSWS/Resume/main/Resume.pdf 
    reverse_proxy https://raw.githubusercontent.com {
      header_up Host raw.githubusercontent.com
      header_down Content-Type application/pdf
    }
  }

  handle_path /s/* {
    rewrite /s/ /
    reverse_proxy chhoto-url:4567
  }

  reverse_proxy https://msws.github.io {
    header_up Host msws.github.io
  }
}
