services:
  caddy:
    # image: ghcr.io/caddybuilds/caddy-cloudflare:latest
    build: .
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "22:22"
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - $PWD/Caddyfile:/etc/caddy/Caddyfile
      - $PWD/site:/srv
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
      - CADDY_ADMIN=caddy-caddy-1:2019
    networks:
      - cloudflared
      - copyparty

volumes:
  caddy_data:
  caddy_config:

networks:
  cloudflared:
    external: true
  copyparty:
    external: true
