services:
  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    user: 1000:1000 # should be owner of volumes
    restart: always
    volumes:
      - "${PWD}/data:/data"
      - "${PWD}/music:/music"
    networks:
        - cloudflared
    environment:
      ND_SPOTIFY_ID: "${ND_SPOTIFY_ID}"
      ND_SPOTIFY_SECRET: "${ND_SPOTIFY_SECRET}"
      ND_PLAYLISTSPATH: "playlists"

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - "${PWD}/lidarr/config:/config"
      - "${PWD}/music:/music"
      - "${PWD}/downloads:/downloads"
    restart: always
    networks:
      - cloudflared
      - tor

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - "${PWD}/radarr/data:/config"
      - "${PWD}/downloads:/downloads"
      - "/mnt/usb/media/jellyfin/movies:/movies"
    restart: always
    networks:
        - cloudflared
        - tor

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - "${PWD}/sonarr/data:/config"
      - "/mnt/usb/media/jellyfin/shows:/shows"
      - "${PWD}/downloads:/downloads"
    restart: always
    networks:
        - cloudflared
        - tor

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=43652
    volumes:
      - "${PWD}/bittorrent/config"
      - "${PWD}/downloads:/downloads"
    restart: always
    networks:
      - cloudflared
      - tor

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${PWD}/prowlar/config:/config
    restart: always
    networks:
      - tor
      - cloudflared

  gluetun:
    image: qmcgaw/gluetun:latest
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    environment:
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PUBLIC_KEY=${WIREGUARD_PUBLIC_KEY}
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - FIREWALL_VPN_INPUT_PORTS=43652
      - TZ=America/Los_Angeles
      - SERVER_REGIONS=
    restart: unless-stopped
    volumes:
      - gluetun:/gluetun
    networks:
      - cloudflared
      - torrent

  nzbget:
    image: lscr.io/linuxserver/nzbget:latest
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - NZBGET_USER=${NZBGET_USER} #optional
      - NZBGET_PASS=${NZBGET_PASS} #optional
    volumes:
      - nzbget-config:/config
      - "${PWD}/downloads:/downloads"
    restart: unless-stopped

networks:
  cloudflared:
    external: true
  torrent:

volumes:
  gluetun:
  nzbget-config:
