services:
  grafana:
    image: grafana/grafana
    container_name: grafana
    environment:
      GF_FEATURE_TOGGLES_ENABLE: "publicDashboards"
      GF_SERVER_ROOT_URL: "https://stats.msws.xyz"
    restart: always
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - cloudflared
      - prometheus

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/etc/prometheus/
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=365d'
    networks:
      - cloudflared
      - prometheus

  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
    networks:
      - prometheus

  restic-exporter:
    image: ngosang/restic-exporter
    container_name: restic-exporter
    environment:
      - TZ=America/Los_Angeles
      - RESTIC_REPOSITORY=/data
      - RESTIC_PASSWORD=${RESTIC_PASSWORD}
      - REFRESH_INTERVAL=3600 # 1 hour
    volumes:
      - /mnt/usb/backups:/data
    restart: unless-stopped
    networks:
      - prometheus

volumes:
  grafana-data:
  prometheus-data:

networks:
  cloudflared:
    external: true
  prometheus:
