services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    networks:
      - cloudflared
    volumes:
      - /home/iboaz/jellyfin/config:/config
      - /home/iboaz/jellyfin/cache:/cache
      - /mnt/samsung/media/jellyfin:/usbmedia
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    restart: always
    environment:
      - JELLYFIN_PublishedServerUrl=https://watch.msws.xyz
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    deploy:
      resources:
        limits:
          cpus: "1"

networks:
  cloudflared:
    external: true
