services:
  cloudflared-public:
    image: cloudflare/cloudflared:latest
    container_name: cf-tunnel-public
    restart: always 
    command: tunnel run
    environment:
      TUNNEL_TOKEN: "${PUBLIC_TUNNEL_TOKEN}"
    networks:
      - cloudflared
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
  cloudflared-ssh-infra:
    image: cloudflare/cloudflared:latest
    container_name: cf-tunnel-ssh-infra
    restart: always
    command: tunnel run
    environment:
      TUNNEL_TOKEN: "${SSH_INFRA_TUNNEL_TOKEN}"
    network_mode: "host"
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

networks:
  cloudflared:
    name: cloudflared
